<!doctype html>

    <html ng-app="app">
        <head lang="en">
            <!--<base href="/">-->
            <script src="/vendor/angular/angular.min.js" type="text/javascript"></script>
            <script src="vendors/angular-route/angular-route.min.js"></script>
            <script src="/assets/scripts/app.min.js" type="text/javascript"></script>
            <link rel="stylesheet" type="text/css" href="./views/styles/main.css">
            <meta charset="UTF-8">
            <title>Lunchocracy groups page</title>
        </head>

        <body>
            <header>LUNCHOCRACY</header>

            <div ng-controller="groupsController">
                <h2>Your Group</h2>
                <table>
                    <tr>
                        <td>karl@email.com</td>
                    </tr>
                    <tr>
                        <td>mark@email.com</td>
                    </tr>
                    <tr>
                        <td>sam@email.com</td>
                    </tr>
                    <tr>
                        <td>jim@email.com</td>
                    </tr>
                </table>
            </div>
        </body>


    </html>